{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <!-- locate -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>
    <script src="../upload/L.Control.Locate.min.js"></script>
    
    <meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}

{% block title %}
    Map
{% endblock %}

{% block main %}
    <div class="mb-3">
        <p>地域選択</p>
        <select name="pre" id = "pre">
            <option value="36.000850616844694, 137.9999356269849">日本</option>
            <option value="43.46722, 142.8278">北海道</option>
            <option value="40.78028, 140.8319">青森</option>
            <option value="39.59139, 141.3625">岩手</option>
            <option value="38.44556, 140.9281">宮城</option>
            <option value="39.7475, 140.4086">秋田</option>
            <option value="38.44639, 140.1028">山形</option>
            <option value="37.37889, 140.2253">福島</option>
            <option value="36.30639, 140.3186">茨城</option>
            <option value="36.68917, 139.8192">栃木</option>
            <option value="36.50389, 138.9853">群馬</option>
            <option value="35.99667, 139.3478">埼玉</option>
            <option value="35.51278, 140.2039">千葉</option>
            <option value="35.01833, 139.5986">東京</option>
            <option value="35.41417, 139.3403">神奈川</option>
            <option value="36.13, 138.0439">長野</option>
            <option value="35.7775, 137.055">岐阜</option>
            <option value="35.03444, 137.215">愛知</option>
            <option value="34.62278, 135.5111">大阪</option>
            <option value="35.25194, 135.4458">京都</option>
            <option value="33.5225, 130.6681">福岡</option>
            <option value="25.77111, 126.64">沖縄</option>
        </select>
    </div>
    <!-- map表示域 -->
    <div id="map" style="width:100%; height:500px"></div>
    <!-- 追加したリスト -->
    <table class="table table-hover">
        <tr>
            <th>カテゴリー</th>
            <th>登録日時</th>
            <th>コメント</th>
            <th>座標に飛ぶ</th>
            <th></th>
        </tr>
        
        {% set ns = namespace(cnt = 0) %}
        {% for marker in markers %}
        <tr>
            <td>{{ marker[3] }}</td>
            <td>{{ marker[4] }}</td>
            <td>{{ marker[2] }}</td>
            <td><button class="btn btn-outline-primary" onclick=jamp("{{ marker[0] }}","{{ marker[1] }}")>座標に飛ぶ</button></td>
            <td><button class="btn btn-outline-danger" onclick=dell({{ns.cnt}},{{ marker[0] }},{{ marker[1] }})>削除</button></td>
        </tr>
        {% set ns.cnt = ns.cnt + 1 %}
        {% endfor %}
    </table>

<script>
    var csrftoken = $('meta[name=csrf-token]').attr('content')
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        }
    })
    // 初期の表示状態
    const map = L.map('map').setView([36.000850616844694, 137.9999356269849], 5);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    marked = [];
    {% for marker in markers %}
        var i = 0;
        marked.push(L.marker([{{ marker[0] }}, {{ marker[1] }}]))
        L.marker([{{ marker[0] }}, {{ marker[1] }}]).addTo(map).bindPopup("{{ marker[2] }}");
        i = i+1;
    {% endfor %}
    console.log(marked);

    //現在地
    var option = {
        position: 'topright',
        strings: {
            title: "現在地を表示",
            popup: "現在地"
        },
        locateOptions: {
          maxZoom: 30
        }
    }

    var lc = L.control.locate(option).addTo(map);
    
    // プルダウンで表示させる県の変更
    let view = document.querySelector('[name="pre"]');
    view.onchange = event => {
        const coordi = event.target.value;
        lat = coordi.substr(0, coordi.indexOf(','));
        lng = coordi.substr(coordi.indexOf(',') + 1);
        map.setView([lat, lng], 8);
    };

    // リストから座標に飛ぶ
    function jamp(lat, lng) {
        map.setView([lat, lng],20);
        var position = $('#pre').offset().top;
        var speed = 100;
        $("html,body").animate({scrollTop:position},speed);
    }

    // マーカーの消去
    function dell(cnt,lat,lng) {
        console.log(marked[cnt]);
        map.removeLayer(marked[cnt]);
        // バックグラウンドに送信
        var fData = new FormData();
        fData.append('lat', lat);
        fData.append('lng', lng);
        fData = Object.fromEntries(fData.entries())
        $.ajax({
            url : '/dell',
            type : 'POST',
            data : JSON.stringify(fData),
            dataType : "json",
            processData : false,
            contentType : "application/json",
            async : false,
          })
        window.location.reload();
    }

    var marker_flag = false;
    // ピンの追加
    map.on('click', function(e) {
        lat = e.latlng.lat;
        lng = e.latlng.lng;
        const text = prompt('メモを入力してください')
        // 入力していない時・キャンセル押したときはピン指さない
        if ((text === null) || (text === '')) {
            ;
        }else{
            L.marker([lat, lng]).addTo(map)
            .bindPopup(text)
            .openPopup();
            // formdataの作成
            var fData = new FormData();
            fData.append('lat', lat);
            fData.append('lng', lng);
            fData.append('text', text);
            // オブジェクトに変換
            fData = Object.fromEntries(fData.entries())
            marker_flag = true;
        }
        // 追加データをバックエンドに送る
        if (marker_flag === true){
            $.ajax({
                url : '/map',
                type : 'POST',
                data : JSON.stringify(fData),
                dataType : "json",
                processData : false,
                contentType : "application/json",
                async : false,
              })
              // レスポンス加工
              .done(function(response){
                /*var cate = jsonObjects.cate;
                var time = jsonObjects.time;
                var text = jsonObjects.text;
                $("#cate").html(cate);
                $("#time").html(time);
                $("#text").html(text);
                newlat = jsonObjects.lat;
                newlng = jsonObjects.lng;
                */
                window.location.reload();
              });  
        };
    });
    // reload を検知して最新の座標に飛ぶ
    if (window.performance) {
        if (window.performance.navigation.type == 1){
            lat = {{newmarker[0]}};
            lng = {{newmarker[1]}};
            map.setView([lat, lng],20);
        }
    };

    

</script>

{% endblock %}
